{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <div class="container-fluid mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="text-center text-uppercase mb-3">
              <b>
                {% if request.GET.next != '/courier/' %}
                  Customer Login
                {% else %}
                  Courier Login
                {% endif %}
              </b>
              <hr>
            </h4>
            <form method="post">
              {% csrf_token %}
              {% bootstrap_form_errors form %}
              {% bootstrap_label 'Email' %}
              {% bootstrap_field form.username show_label=False placeholder='Email' %}
              {% bootstrap_field form.password %}
              <hr>
              <button type="submit" class="btn btn-warning btn-block">
                Sign in
              </button>
            </form>
            <p class="text-center mt-3">
              New to FastParcel? <a href="{% url 'sign_up' %}">Register</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}