#pills-tab a {
    color: black;
}

#pills-tab a:hover {
    color: #ff7a00;
    text-decoration: none;
}

#pills-tab a.active {
    color: #ff7a00;
}

#pickup-map {
    height: 100%;
}

h4 {
    font-weight: 500 !important;
}