{% extends 'base.html' %}
{% load static %}

{% block title %}
  Customer {{ user.get_full_name|title }}
{% endblock %}

{% block content %}
  {% url 'customer:profile_page' as profile_url %}
  {% url 'customer:payment_method' as payment_url %}
  {% url 'customer:current_job' as current_job_url %}
  {% url 'customer:archived_job' as archive_job_url %}
  {% url 'customer:create_job' as create_job_url %}

  <div class="container bg-light mt-4 pt-3 pb-3">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-center">
          <img src="{% if user.customer.avatar %}{{ user.customer.avatar.url }}
                    {% else %}{% static 'img/avatar.png' %}
                    {% endif %}"
               alt="avatar" class="rounded-circle mb-2" width="100" height="100">
          <h4>{{ user.get_full_name|title }}</h4>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
        <ul class="list-group">
          <a href="{% url 'customer:profile_page' %}"
             class="list-group-item list-group-item-action {% if request.path == profile_url %}list-group-item-warning{% endif %}">
            {% if request.path == profile_url %}<i class="fa fa-arrow-right"></i>{% endif %} Profile Information
          </a>
          <a href="{% url 'customer:payment_method' %}"
             class="list-group-item list-group-item-action {% if request.path == payment_url %}list-group-item-warning{% endif %}">
            {% if request.path == payment_url %}<i class="fa fa-arrow-right"></i>{% endif %} Payment Details
          </a>
          <a href="{% url 'customer:current_job' %}"
             class="list-group-item list-group-item-action {% if request.path == current_job_url or request.path == archive_job_url %}list-group-item-warning{% endif %}">
            {% if request.path == current_job_url or request.path == archive_job_url %}
              <i class="fa fa-arrow-right"></i>{% endif %} My Jobs
          </a>
          <a href="{% url 'customer:create_job' %}"
             class="list-group-item list-group-item-action {% if request.path == create_job_url %}list-group-item-warning{% endif %}">
            {% if request.path == create_job_url %}<i class="fa fa-arrow-right"></i>{% endif %} Create a Job
          </a>
        </ul>
        <hr>
      </div>
      <div class="col-lg-8">
        {% block main %}

        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}