{% extends 'customers/base_portal.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/job_detail.css' %}">
  <script async
          src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_CREDENTIAL }}&libraries=places&v=weekly&callback=initMap">
  </script>
  <script src="{% static 'js/jobs.js' %}" defer></script>
{% endblock %}

{% block title %}
  {{ job.name }}
{% endblock %}

{% block main %}
  {#  Job Description #}
  <div class="media mb-4">
    <img src="{{ job.photo.url }}" class="rounded-lg mr-3" width="150" height="150">
    <div class="media-body">

      {% if job.status == job.Status.PROCESSING %}
        <form method="post" class="float-right" id="cancel-job-form">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger" id="cancel-job">Cancel Job</button>
        </form>
      {% endif %}

      <h4>{{ job.name }}</h4>
      <p class="text-secondary">{{ job.description }}</p>

      <div class="row">
        <div class="col-lg-4">
          <small class="text-secondary">PRICE</small><br>
          <span><b>${{ job.price }}</b></span>
        </div>
        <div class="col-lg-4">
          <small class="text-secondary">QUANTITY</small><br>
          <span><b>{{ job.quantity }}</b></span>
        </div>
      </div>
    </div>
  </div>

  {#  DELIVERY INFORMATION #}
  <b class="text-secondary">DELIVERY INFORMATION</b><br>
  <div class="card bd-white mt-2 mb-5">
    <div class="card-body p-4">
      <h4 class="mb-3">Pickup</h4>
      <div class="row">
        <div class="col-lg-4">
          <b>Address</b><br>
          <span>{{ job.pickup_address }}</span>
        </div>
        <div class="col-lg-4">
          <b>{{ job.pickup_name }}</b><br>
          <span>{{ job.pickup_phone }}</span>
        </div>
        <div id="pickup_photo" class="col-lg-4">
          {% if job.pickup_photo %}
            <img src="{{ job.pickup_photo.url }}" class="rounded-lg photo" width="130" height="130">
          {% else %}
            <div class="photo-blank">Pickup Photo Will Apper Here</div>
          {% endif %}
        </div>
      </div>

      <hr>
      <h4 class="mb-3">Delivery</h4>
      <div class="row">
        <div class="col-lg-4">
          <b>Address</b><br>
          <span>{{ job.delivery_address }}</span>
        </div>
        <div class="col-lg-4">
          <b>{{ job.delivery_name }}</b><br>
          <span>{{ job.delivery_phone }}</span>
        </div>
        <div id="pickup_photo" class="col-lg-4">
          {% if job.delivery_photo %}
            <img src="{{ job.delivery_photo.url }}" class="rounded-lg photo" width="130" height="130">
          {% else %}
            <div class="photo-blank">Delivery Photo Will Apper Here</div>
          {% endif %}
        </div>

      </div>

    </div>
  </div>

  {#  MAP AREA #}
  <div class="d-flex justify-content-between">
    <b class="text-secondary">TRACK DELIVERY</b>
    <div>
    <span class="badge badge-warning">
      {{ job.get_status_display }}
    </span>
    </div>
  </div>

  <div class="card bg-white mt-2">
    <div class="card-body p-0">
      <div id="map">

      </div>
    </div>
  </div>

  <script>
      const pickupLat = parseFloat({{ job.pickup_lat }})
      const pickupLng = parseFloat({{ job.pickup_lng }})
      const deliveryLat = parseFloat({{ job.delivery_lat }})
      const deliveryLng = parseFloat({{ job.delivery_lng }})
  </script>

{% endblock %}