{% extends 'customers/base_portal.html' %}
{% load static %}
{% load bootstrap4 %}

{% block head %}
  <script src="{% static 'js/firebase.js' %}" type="module"></script>
{% endblock %}

{% block title %}
  Profile {{ user.username }}
{% endblock %}

{% block main %}

  {% if not user.customer.phone_number %}
    <div class="alert alert-danger alert-dismissible fade show">
      <h4 class="alert-heading"><i class="fa-solid fa-triangle-exclamation"></i> Please add your phone number</h4>
      <p class="mb-0">You can add your phone number in your profile.</p>
      <button class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}

  {% if not user.customer.stripe_payment_method_id %}
    <div class="alert alert-danger alert-dismissible fade show">
      <h4 class="alert-heading"><i class="fa-solid fa-triangle-exclamation"></i> Please add your payment method</h4>
      <p class="mb-0">You can add your phone number in your profile.</p>
      <button class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  {#  Basic Information #}
  <b class="text-secondary">Basic Information</b>
  <div class="card bg-white mt-2 mb-5">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        {% bootstrap_form customer_form %}
        <input type="hidden" name="basic_form" value="update_profile">
        <button type="submit" class="btn btn-warning">Save</button>
      </form>
    </div>
  </div>
  <hr>
  {#  Reset Password #}
  <b class="text-secondary">Reset Password</b>
  <div class="card bg-white mt-2 mb-5">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form password_form %}
        <input type="hidden" name="reset_form" value="update_password">
        <button type="submit" class="btn btn-warning">Save</button>
      </form>
    </div>
  </div>
  <hr>
  {# Phone Verification #}
  <b class="text-secondary">Phone Number</b>
  <div class="card bg-white mt-2 mb-5">
    <div class="card-body">

      <div id="get-code" class="input-group mb-3 {% if user.customer.phone_number %} d-none {% endif %}">
        <input type="text" class="form-control" placeholder="+56123456789">
        <div class="input-group-append">
          <button class="btn btn-warning">Send code</button>
        </div>
      </div>

      <div id="verify-code" class="input-group mb-3 d-none">
        <input type="text" class="form-control" placeholder="Verification code">
        <div class="input-group-append">
          {% csrf_token %}
          <button class="btn btn-warning">Send code</button>
        </div>
      </div>

      <div id="change-phone" class="input-group mb-3 {% if not user.customer.phone_number %}d-none{% endif %} ">
        <input type="text" class="form-control text-success" disabled
               value="{{ user.customer.phone_number }}">
        <div class="input-group-append">
          <button class="btn btn-warning">Change</button>
        </div>
      </div>

      <div id="recaptcha-container"></div>

    </div>
  </div>

  <script src="{% static 'js/phone-auth.js' %}" type="module"></script>

{% endblock %}
